pip==21.2.4
virtualenv==20.7.2
bump2version==1.0.1
wheel==0.38.1
watchdog==2.1.5
flake8==3.9.2
flake8_docstrings==1.6.0
tox==3.24.3
coverage==5.5
Sphinx==4.2.0
cryptography==3.4.8
PyYAML==5.4.1
pytest==6.2.5
pytest-runner==5.3.1
